.crstScore {
  z-index: 999996;
  display: none;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}

.crstScore-sidebar {
  z-index: 999996;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  pointer-events: none;
}

.crstScore-window {
  z-index: 999996 -1;
  position: fixed;
  top: 32px;
  right: 0;
  left: 0;
  pointer-events: none;
}
.crstScore-window.is-active {
  pointer-events: all;
}
.crstScore-window.is-active::before {
  opacity: 0.3;
}
.crstScore-window.is-active .crstScore-window__in {
  transform: translate3d(0, 0%, 0);
}
.crstScore-window::before {
  content: " ";
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: calc(100vh - 32px);
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.198) 100%);
  pointer-events: none;
  transition: opacity 500ms 250ms linear;
}
.crstScore-window__in {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 778px;
  height: calc(100vh - 64px);
  max-height: 610px;
  margin: 0 auto;
  background-color: #253342;
  border-radius: 0 0 16px 16px;
  transition: transform 800ms cubic-bezier(0, 1, 0.5, 1);
  transform: translate3d(0, -120%, 0);
}
.crstScore-window__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0 20px 0;
}
.crstScore-window__content {
  flex-grow: 1;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.crstScore-window__content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.crstScore-window__content::-webkit-scrollbar-track {
  background-color: transparent;
}
.crstScore-window__content::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.33);
  border-radius: 5px;
  transition: all 250ms ease-in-out;
}
.crstScore-window__content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.44);
}
.crstScore-window__close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 64px;
  border: none;
  border-top: 1px solid #323F4D;
  box-sizing: border-box;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.crstScore-window__close:hover {
  color: #D6AD5E;
}

.crstScore-tabs {
  display: flex;
  justify-content: center;
  gap: 2px;
}
.crstScore-tabs__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  border: none;
  padding: 0 8px;
  border-radius: 2px;
  background-color: #2E3E50;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
.crstScore-tabs__item:hover {
  color: #ffffff;
}
.crstScore-tabs__item.is-active {
  color: #ffffff;
}

.crstScore-score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 7px;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 11px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  pointer-events: all;
}
.crstScore-score::before {
  content: " ";
  overflow: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 778px;
  height: 0px;
  margin: 0 auto;
  border-radius: 0 0 8px 8px;
  background-color: #253342;
  transition: all 250ms ease-in-out;
  pointer-events: none;
  will-change: opacity, height;
}
.crstScore-score:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.crstScore-score:hover:before {
  opacity: 1;
  height: 10.6666666667px;
}
.crstScore-score__info {
  display: flex;
  align-items: center;
  gap: 0 6px;
}
.crstScore-score__item {
  display: flex;
  align-items: center;
  gap: 1px;
}
.crstScore-score__label, .crstScore-score__value {
  display: inline-flex;
  align-items: center;
  background-color: #2E3E50;
  border-radius: 2px;
  min-height: 20px;
  padding: 0 3px;
}
.crstScore-score__label.is-positive, .crstScore-score__value.is-positive {
  color: #5ED6A3;
}
.crstScore-score__label.is-negative, .crstScore-score__value.is-negative {
  color: #D6AD5E;
}

.--first {
  min-width: 24px;
}

.--advisor-team,
.--date-time {
  flex-grow: 1;
}

.--quantityOfNew {
  min-width: 15%;
}

.--total {
  min-width: 18%;
}

.--average {
  min-width: 17%;
}

.--product {
  min-width: 15%;
  max-width: 10%;
}

.--salesManager {
  min-width: 15%;
  max-width: 15%;
}

.--paymentType {
  min-width: 10%;
  max-width: 10%;
}

.--paymentSystem {
  min-width: 10%;
  max-width: 10%;
}

.--amount {
  min-width: 10%;
  max-width: 10%;
}

.table-head {
  display: flex;
  align-items: center;
  gap: 16px;
  min-height: 30px;
  margin-right: 8px;
  padding: 0 16px;
  font-weight: 600;
  font-size: 11px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.5);
}

.table-content__row {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  min-height: 48px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.01);
  transition: all 250ms ease-in-out;
}
.table-content__row:hover {
  background-color: rgba(255, 255, 255, 0.04);
}
.table-content__row:not(:last-child) {
  margin-bottom: 1px;
}
.table-content__row.is-current::before {
  content: " ";
  position: absolute;
  top: 2px;
  right: 5px;
  bottom: 2px;
  left: 5px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}
.table-content__row:nth-child(1) .table-content__number {
  background-image: url("images/badge-gold.png");
}
.table-content__row:nth-child(2) .table-content__number {
  background-image: url("images/badge-silver.png");
}
.table-content__row:nth-child(3) .table-content__number {
  background-image: url("images/badge-bronze.png");
}
.table-content__col {
  font-weight: 600;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.table-content__plus {
  width: 22px;
  height: 22px;
  background: url("images/plus-green.png") center center no-repeat;
  background-size: 100% 100%;
  text-indent: -9999px;
}
.table-content__number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
}
.table-content__title {
  max-width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.table-content__subtitle {
  max-width: 100%;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}